# Pandas

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [45]:
import numpy as np
import pandas as pd

recipes = pd.read_csv('data/recipes_sample.csv')
reviews = pd.read_csv('data/reviews_sample.csv',index_col=0)
recipes
reviews

,user_id,recipe_id,date,rating,review
370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [46]:
print('\n','reviews')
print(reviews.info())
print('\n','recipes')
print(recipes.info())

 reviews
<class 'pandas.core.frame.DataFrame'>
Int64Index: 126696 entries, 370476 to 691207
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    126696 non-null  int64
 1   recipe_id  126696 non-null  int64
 2   date       126696 non-null  object
 3   rating     126696 non-null  int64
 4   review     126679 non-null  object
dtypes: int64(3), object(2)
memory usage: 5.8+ MB
None

 recipes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            30000 non-null  object
 1   id              30000 non-null  int64
 2   minutes         30000 non-null  int64
 3   contributor_id  30000 non-null  int64
 4   submitted       30000 non-null  object
 5   n_steps         18810 non-null  float64
 6   description     29377 non-null  object
 7   n_ingredients   21120 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 1.8+ MB
None

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [47]:
task_recipes = pd.isna(recipes).sum()/len(recipes)
task_reviews = pd.isna(reviews).sum()/len(reviews)
print('recipes','\n',task_recipes,'\n')
print('reviews','\n',task_reviews)

recipes
 name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.373000
description       0.020767
n_ingredients     0.296000
dtype: float64

reviews
 user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [48]:
print(recipes.mean())
print(reviews.mean())

C:\Users\erzau\AppData\Local\Temp\ipykernel_1000\1306473372.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(recipes.mean())

id                2.218793e+05
minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64
user_id      1.408013e+08
recipe_id    1.600944e+05
rating       4.410802e+00
dtype: float64

C:\Users\erzau\AppData\Local\Temp\ipykernel_1000\1306473372.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  print(reviews.mean())

1.5 Создайте серию из 10 случайных названий рецептов.

In [49]:
recipes['name'].sample(10)

6290         chilled spinach potato soup with buttermilk
5681     chicken breasts with cheese  mushrooms   onions
14050                            honey vanilla ice cream
22747                   roasted chicken with onion gravy
17837                               mixed berry smoothie
3814                         broccoli cheese quinoa soup
14436                      indian cauliflower   potatoes
20160                   peaches and cream soaked oatmeal
28929                                   vodka lime slush
802                               apple and cream kuchen
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [50]:
reviews.reset_index(drop=True)

,user_id,recipe_id,date,rating,review
0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
...,...,...,...,...,...
126691,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [51]:
recipes[(recipes['minutes']<=20) & (recipes['n_ingredients']<=5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [52]:
recipes.submitted = pd.to_datetime(recipes['submitted'])
recipes = pd.read_csv('data/recipes_sample.csv',parse_dates = ['submitted'])
print(recipes)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

[30000 rows x 8 columns]

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [53]:
recipes[recipes.submitted < pd.to_datetime('2010-12-31')]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [54]:
recipes['description_length'] = recipes.description.str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0
...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [55]:
recipes.name.str.capitalize()

0               George s at the cove  black bean soup
1                  Healthy for them  yogurt popsicles
2                        I can t believe it s spinach
3                                Italian  gut busters
4            Love is in the air  beef fondue   sauces
                             ...
29995    Zurie s holey rustic olive and cheddar bread
29996            Zwetschgenkuchen  bavarian plum cake
29997     Zwiebelkuchen   southwest german onion cake
29998                                     Zydeco soup
29999          Cookies by design   cookies on a stick
Name: name, Length: 30000, dtype: object

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [56]:
now_name = recipes.name.replace(' ',' ')
recipes['name_word_count'] = now_name.str.findall(r'[a-z]').str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,29
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,29
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,22
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,17
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,30
...,...,...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,37
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,32
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,37
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,10
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,30

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [57]:
de = recipes.groupby('contributor_id')['id'].count()
print(de)
max_count = de[de == de.max()]
print(max_count)

contributor_id
1530            5
1533          186
1534           50
1535           40
1538            8
             ...
2001968497      2
2002059754      1
2002234079      1
2002234259      1
2002247884      1
Name: id, Length: 8404, dtype: int64
contributor_id
89831    421
Name: id, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [58]:
result = reviews.groupby('recipe_id').agg({'rating':['mean']})
def count_nulls(s):
    return s.size - s.count()
agg_func_custom_count = {
    'description': ['count', 'size',count_nulls]
}
df = recipes.groupby(['description']).agg(agg_func_custom_count)
print(result)
print('рецептов без отзывов: ',recipes.shape[0] - df.shape[0])

             rating
               mean
recipe_id
48         1.000000
55         4.750000
66         4.944444
91         4.750000
94         5.000000
...             ...
536547     5.000000
536610     0.000000
536728     4.000000
536729     4.750000
536747     0.000000

[28100 rows x 1 columns]
рецептов без отзывов:  826

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [59]:
count_yeaer = recipes.groupby(pd.Grouper(key='submitted',freq = "Y")).count()['id']
count_yeaer.index = count_yeaer.index.year
display(count_yeaer)

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: id, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [60]:
new_table = pd.merge(recipes,reviews, on = None, left_on = 'id', right_on = 'recipe_id', how = 'inner')
new_table = new_table.drop(['minutes','contributor_id','submitted','n_steps','description','n_ingredients','description_length','name_word_count','date','review','recipe_id'],axis = 1)
display(new_table[new_table['id'] == 1144])
display(new_table)

Empty DataFrame
Columns: [name, id, user_id, rating]
Index: []

                                          name      id  user_id  rating
0        george s at the cove  black bean soup   44123   743566       5
1        george s at the cove  black bean soup   44123    76503       5
2        george s at the cove  black bean soup   44123    34206       5
3           healthy for them  yogurt popsicles   67664   494084       5
4           healthy for them  yogurt popsicles   67664   303445       5
...                                        ...     ...      ...     ...
126691                             zydeco soup  486161   305531       5
126692                             zydeco soup  486161  1271506       5
126693                             zydeco soup  486161   724631       5
126694                             zydeco soup  486161   133174       5
126695  cookies by design   cookies on a stick  298512   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [61]:
new_recipes = recipes.rename(columns={'id': 'recipe_id'})
review_count = reviews.groupby('recipe_id', as_index=False)['review'].count()
recipes_reviews = pd.merge(
                    new_recipes[['recipe_id', 'name']],
                    review_count,
                    how='left'
                ).fillna(0)

recipes_reviews = recipes_reviews.rename(columns={'review': 'review_count'})
print(recipes_reviews)
print()

""" Возьмём рецепты, id которых нет в таблице reviews, оператор ~ - НЕ """
no_reviews1 = new_recipes[~new_recipes['recipe_id'].isin(reviews['recipe_id'])]

""" Выберем случайный рецепт без отзывов и проверим, что он есть в полученной таблице """
recipe_without_reviews = no_reviews1.sample()
print(recipe_without_reviews.isin(recipes_reviews)['recipe_id'])

       recipe_id                                          name  review_count
0          44123         george s at the cove  black bean soup           3.0
1          67664            healthy for them  yogurt popsicles           8.0
2          38798                  i can t believe it s spinach           3.0
3          35173                          italian  gut busters           1.0
4          84797      love is in the air  beef fondue   sauces           8.0
...          ...                                           ...           ...
29995     267661  zurie s holey rustic olive and cheddar bread           4.0
29996     386977          zwetschgenkuchen  bavarian plum cake           2.0
29997     103312   zwiebelkuchen   southwest german onion cake           6.0
29998     486161                                   zydeco soup           6.0
29999     298512        cookies by design   cookies on a stick           1.0

[30000 rows x 3 columns]

21773    True
Name: recipe_id, dtype: bool

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [62]:
general_df = recipes.copy().drop(columns = ['name', 'minutes', 'contributor_id', 'description', 'n_ingredients', 'description_length', 'name_word_count', 'n_steps'])
general_df['year'] = general_df['submitted'].dt.year
general_df = general_df.reindex(columns=['id', 'year'])
average_rate = reviews.groupby('recipe_id')['rating'].mean()
general_df = pd.merge(general_df.set_index('id'), average_rate, how='left', left_index=True, right_index=True)
general_df['id'] = general_df.index
general_df['rating'] = general_df['rating'].fillna(0)
year_rate = general_df.groupby('year')['rating'].mean()
minrate_year = year_rate[year_rate == year_rate.min()].index[0]
print('Наименьший средний рейтинг имеют рецепты добавленные в {0} и равен = {1}'.format(minrate_year, year_rate.min()))

Наименьший средний рейтинг имеют рецепты добавленные в 2017 и равен = 2.2905982905982905

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [63]:
recipes = recipes.sort_values(by='name_word_count', ascending=False)
recipes.to_csv('new_recipes.csv')
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
22778,roasted garlic stuffed steak with garlic mashe...,38409,85,53227,2002-08-26,NaN,this is for all those garlic lovers out there ...,8.0,88.0,71
14735,italian sausages and beans with sage salsicci...,38761,70,30893,2002-08-28,10.0,this is from a recent foodday section of the o...,NaN,98.0,63
18830,norwegian fried venison cutlet with currant sa...,80199,1460,112818,2004-01-05,17.0,this is one of my very favorites! if you don't...,20.0,249.0,60
13578,hefty defty roly poly weebles wobbles but they...,37673,52,23302,2002-08-19,10.0,eat 'em or freeze 'em.,13.0,22.0,59
6839,chocolatier classic chocolate cake and creamy ...,212496,40,424680,2007-02-20,NaN,this recipe comes from inside the wrapper of a...,10.0,199.0,57
...,...,...,...,...,...,...,...,...,...,...
3036,biga,81918,15,182010,2004-01-23,18.0,"in traditional bread bakeries in rural italy, ...",NaN,802.0,4
15470,klah,67812,5,37462,2003-07-29,4.0,NaN,5.0,NaN,4
14355,ice,105671,445,177285,2004-12-08,3.0,a family tradition food. served with dinner in...,5.0,399.0,3
178,3 2 1 dip,324047,45,77146,2008-09-09,6.0,i got this from a friend. it's easy and delic...,3.0,299.0,3
1579,b 52,58495,5,58104,2003-04-07,6.0,i made this delish b-52 cake by leta and wonde...,4.0,1258.0,1

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [ ]:
with pd.ExcelWriter('task5.xlsx') as writer:
    new_table.to_excel(writer,sheet_name='Рецепты с оценками',idex=False)
    recipe_without_reviews.to_excel(writer,sheet_name='Количество отзывов по рецептам',idex=False)